<a class="btn btn-warning mt-2 mb-2" routerLink="/route">Go to Routes</a>
<a (click)="logout()" class="btn btn-warning mt-2 mb-2 float-right text-white">Logout</a>
<h1 class="text-center">
  Data
</h1>
<table id="data" class="table table-striped table-bordered table-sm">
  <tr>
    <th>Sr.</th>
    <th>Route</th>
    <th>Bill</th> 
    <th>Expense</th>
    <th>Salary</th>
    <th>Petrol</th> 
    <th>Income Tax</th>
    <th>PRA</th>
    <th>Cheque</th> 
    <th>Income</th>
    <th>Total Expense</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
    <th></th>
  </tr>
  <tr *ngFor="let i of data; let index=index">
    <td>{{index + 1}}</td>
    <td>{{i.route}}</td>
    <td>{{i.bill}}</td> 
    <td>{{i.exp}}</td>
    <td>{{i.salary}}</td>
    <td>{{i.petrol}}</td> 
    <td>{{i.income_tax}}</td>
    <td>{{i.pra}}</td>
    <td>{{i.cheque}}</td> 
    <td>{{i.income}}</td>
    <td>{{i.total_expense}}</td>
    <td>{{i.date | date:'MM/dd/yyyy h:mm a'}}</td>
    <td>{{i.updated_at | date:'MM/dd/yyyy h:mm a'}}</td>
    <td><button class="btn btn-info m-1" (click)="edit(i.id)">Edit</button></td>
    <td><button class="btn btn-danger m-1" (click)="remove(i.id)">Delete</button></td>
  </tr>
</table>
<div class="ml-5 mt-2">
    <div ngbDropdown>
      <a class="btn btn-success" routerLink="/add">Add</a>
      <button class="btn btn-outline-success" id="dropdownBasic1" ngbDropdownToggle>Save</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button (click)="save_csv()" ngbDropdownItem>Save as csv</button>
        <button (click)="save_png()" ngbDropdownItem>Save as png</button>
      </div>
    </div>
</div>





